body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 239, 239);
}
/* navbar design */
#navbar{
    font-size: 20px;
    display: inline-block;
    /* border: 2px solid black;  */
    background-color: white;
    width: 100%;
    top: 0;
    position: sticky;
    border-bottom: 2px solid gray;
}
ul{
    display: flex;
}
ul>li{
    list-style: none;
    color: black;
    font-weight: bold;
}
li>a{
    text-decoration: none;
    padding: 20px;
    color: red;
}
#first{
    margin-left: 50px;
}
#third{
    margin-right: 50px;
}
#add-button{
    margin-left: 10px;
    padding: 10px;

    background-color: red;
    color: white;
    width: 150px;
    border-radius: 200px;
    cursor: pointer;
    outline: none;
}
#empty{
    margin-left: 50px;
}

/* Question page CSS */

#question-container{
    height: 300px;
    width: 50%;
    margin-left: 425px;
    margin-top: 50px;
}
#statement{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}
#button-2{
    margin-left: 50px;
    padding: 10px;
    background-color: rgb(12, 200, 247);
    color: black;
    width: 150px;
    border-radius: 200px;
    cursor: pointer;
    outline: none;
}
/* CSS last link for refresh page */
#refresh{
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

/* FEEd cards CSS */

.feed{
    display: block;
    margin: auto;
    /* border: 2px solid black; */
    width: 70%;
    min-height: 400px;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    box-shadow: 8px 8px 5px gray;
}
.feed:hover{
    cursor: pointer;
    box-shadow: 8px 8px 8px gray;
}
.profile{
    height: 50px;
    /* border: 2px solid black;  */
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.avatar{
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}
.info{
    margin-left: 50px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}
.prof{
    padding: 0px;
    margin: 0px;
}
.ques{
    padding-left: 20px;
    padding-right: 20px;
    /* border: 2px solid black; */
    font-weight: bold;
    font-size: 50px;

}
.qbody{
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
.ans{
    padding-left: 20px;
    padding-right: 20px;
    /* border: 2px solid black; */
    margin-top: 10px;
    overflow: auto;
}
.show-read-more .more-text{
    display: none;
}
.upvote{
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid green;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background-color: white;
    outline: none;
    margin-left: 20px;
}
.upvote-2{
    margin-top: 0px;
    margin-left: 35px;
    height: 17px;
    width: 12px;
    background-color: green;
    cursor: pointer;
}
/* For upvote button bottom line and number of upvotes in same line */
.container-2{
    display: inline-block;
}
.upvote-ul{
    margin-left: 0px;
    padding: 0px;
    margin-top: 0px;

}
.number{
    margin-left: 30px;
}
/* account-photo */
#account-photo{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0px;
    margin-left: 10px;
    border: 2px solid blue;
}

/* logo image */
#logo-img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0px;
    margin-right: 15px;

}

code{
    color: gray;
    cursor: text;
}

.answer-date{
    color: red;
}


/* Profile name css */
#login-name{
    color: black !important;
    margin: 0px;
    padding: 0px;
}
#login-li{
    margin-left: 10px;
    padding: 0px;
}
#profile-link{
    padding: 0px;
    margin: 0px;
    margin-left: 100px;
}
#profile-link-2{
    margin: 0px;
    padding: 0px;
}

/* Logout button */
#logout-li{
    margin-left: 90px;
    padding: 0px;
}
#logout-link{
    padding: 0px;
    margin: 0px;
}
#logout-btn{
    cursor: pointer;

}

/* Answer date */
.answer-date{
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 70%;
    font-size: larger;
    font-weight: bold;
    color: green;
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
