<!DOCTYPE html>
<html lang="java">

    <head>
        <meta charset="ISO-8859-1">
        <title>StackDigest register</title>
    </head>

    <body>
        <h1>Login Form</h1>

<!--        <form action="#" th:action="@{/registerUser}" method="post" th:object="${newuser}">-->
<!--            <input type="text" th:field="*{id}" required/>-->
<!--            <input type="password" th:field="*{password}" required/>-->
<!--            <button type="submit">Register</button>-->
<!--        </form>-->
    </body>

</html>
